<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'jobs/style.css' %}">
    <title>Incollege Montana</title>
    <style>
            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
    </style>
</head>
{% include "jobs/nav.html" %} 
<div class="album py-5 bg-light">
    <div class="container">
      <div class="pb-3 h5">BRAND POLICY</div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
      </div>
    </div>
  </div>
<div class="container">
    <div class="center">We often think of the brand as our "visual mark" including our standard colors, logo, name and design elements. Those are critical parts of our brand, but the INCOLLEGE brand is so much more. It's not just how we look. It's how we talk. It's the experience that students can expect, the feeling that people get from using our service, how we treat each other, and what makes us unique. It's our "personality." It's how we live out our mission, vision and values. </div>
</div>
<img src="https://image.cnbcfm.com/api/v1/image/106922887-1628206615260-gettyimages-887132600-as1700__08.jpeg?v=1628206641" alt="college students" class="center" width="80%" height="80%">

</html>