<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'jobs/style.css' %}">
    <title>Incollege Montana</title>
</head>
{% include "jobs/nav.html" %} 
<div class="album py-5 bg-light">
    <div class="container">
      <div class="pb-3 h5">USER AGREEMENT</div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
      </div>
    </div>
</div>

<div class="container">
    <div class="center"><p>Please read these terms of use carefully before using Incollege website operated by InCollege Team.</p></div>
    <div class="center"><p><b>Conditions of use</b></p></div>
    <div class="center"><p>By using this website, you certify that you have read and reviewed this Agreement and that you agree to comply with its terms. If you do not want to be bound by the terms of this Agreement, you are advised to leave the website accordingly. InCollege only grants use and access of this website, its products, and its services to those who have accepted its terms.</p></div>
    <div class="center"><p><b>Privacy policy</b></p></div>
    <div class="center"><p>Before you continue using our website, we advise you to read our <a href="#"> Privacy Policy</a> regarding our user data collection. It will help you better understand our practices.</p></div>
    <div class="center"><p><b>Copyright Policy</b></p></div>
    <div class="center"><p>You agree that all materials, products, and services provided on this website are the property of InCollege, its affiliates, directors, officers, employees, agents, suppliers, or licensors including all copyrights, trade secrets, trademarks, patents, and other intellectual property. 
        You also agree that you will not reproduce or redistribute the InCollege’s intellectual property in any way, including electronic, digital, or new trademark registrations. You grant InCollege a royalty-free and non-exclusive license to display, use, copy, transmit, and broadcast the content you upload and publish. For issues regarding intellectual property claims, you should contact the company in order to come to an agreement.</p></div>
    <div class="center"><p><b>User Accounts</b></p></div>
    <div class="center"><p>As a user of this website, you may be asked to register with us and provide private information. You are responsible for ensuring the accuracy of this information, and you are responsible for maintaining the safety and security of your identifying information. You are also responsible for all activities that occur under your account or password.
        If you think there are any possible issues regarding the security of your account on the website, inform us immediately so we may address it accordingly.
        We reserve all rights to terminate accounts, edit or remove content and cancel orders in their sole discretion.
    </p></div>
</div>


